<ion-view view-title="{{event.title}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-image">
                <img src="{{event.photo_url}}">
            </div>
            <div class="item item-body">
                <div>
                    <div class="row">
                        <div class="col col-25">
                            <h2>Title:</h2> </div>
                        <div class="col col-75">
                            <h2>{{event.title}}</h2></div>
                    </div>
                    <div class="row">
                        <div class="col col-25">
                            <h3>Location:</h3></div>
                        <div class="col col-75">
                            <h3>{{event.location_name}}</h3></div>
                    </div>
                    <div class="row">
                        <div class="col col-25">
                            <h3>Upcoming Date:</h3></div>
                        <div class="col col-75">
                            <h3>{{event.first_date}}</h3></div>
                    </div>

                 
                    <a href="http://afterclass.uiowa.edu/events/event/{{event.urlname}}"onclick="window.open(this.href, '_blank', 'location=yes'); return false;">
                        <button class="button button-block button-royal">
                            More Info
                        </button>
                    </a>

                    <a ng-if="{{event.facebook_id}}" href="http://afterclass.uiowa.edu/events/event/{{event.urlname}}"onclick="window.open(this.href, '_blank', 'location=yes'); return false;">
                        <button class="button button-block button-royal">
                            Lies
                        </button>
                    </a>

                </div>
            </div>
    </ion-content>
</ion-view>