<ion-view>
    <ion-nav-title  >
      <h1 class="title">Tagged: {{tag}}</h1>
    </ion-nav-title>

    <ion-content class="padding"> 
        <ion-list ng-controller="TaggedEventsCtrl">
            <div class="row flex-container">
                <div class="flex-item" ng-repeat="event in events | limitTo:10">
                    <a href="#/tab/feed/{{event.event.id}}" class="event-link">
                        <div class="event-tile-image" style="background-image: url({{event.event.photo_url}})">
                            <div class="col-offset-50 col-50">
                                <div class="time-tag"><p>in 3 days</p></div>
                            </div>
                        </div>
                        <div class="item item-divider item-dark event-title">
                            {{event.event.title}}
                        </div>
                    </a>
                </div>
            </div>
        </ion-list>
    </ion-content>
    
</ion-view>



            



<!-- <ion-view>
    <ion-nav-title  >
      <h1 class="title">Tagged: {{tag}}</h1>
    </ion-nav-title>

    <ion-content class="padding"> 
        <ion-list ng-controller="TaggedEventsCtrl">
            <div class="list card" ng-repeat="event in events"> 
                <ion-item href="#/tab/feed/{{event.event.id}}"> 
                    <div class="item item-image"> 
                        <img class="thumbnail" src="{{event.event.photo_url}}">  
                    </div>
                    <div class="item item-body"> 
                        <div>
                            <h2>{{event.event.title}}</h2> 
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    
</ion-view> -->