<ion-view>
    <ion-nav-title>
      <h1 class="title">Venue: {{}}</h1>
    </ion-nav-title>
    <ion-content class="padding">
    
        <ion-list ng-controller="VenuesCtrl">
           <div class="row flex-container">
                <div class="flex-item" ng-repeat="event in events | limitTo:10">
                    <a href="#/tab/feed/{{event.event.id}}" class="event-link">
                        <div class="event-tile-image" style="background-image: url({{event.event.photo_url}})">
                            <div class="col-offset-50 col-50">
                                <div class="time-tag"><p>in 3 days</p></div>
                            </div>
                        </div>
                        <div class="item item-divider item-dark event-title">
                            {{event.event.title}}
                        </div>
                    </a>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
